:root{
    --primary-color: #ffff;
    --black-color: rgb(87, 87, 87);
    --text-color: black;
    --border-color: #dbdbdb;
    --color-hover: rgb(255, 94, 0);
}

*{
    box-sizing: inherit;
}

html{
    
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* gird */
.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -8px;
    margin-right: -8px;
}
.gird__column-2-5 {
    padding-left: 8px;
    padding-right: 8px;
    width: 20%;
    display: block;
}
.gird__column-2-40 {
    padding-left: 8px;
    padding-right: 8px;
    width: 40%;
    display: block;
}
.gird__column-3-3 {
    padding-left: 8px;
    padding-right: 8px;
    width: 33.3333333%;
    display: block;
}

.gird__column-2-4 {
    padding-left: 8px;
    padding-right: 8px;
    width: 25%;
    display: block;
}
.gird__column-2-2 {
    width: 50%;
    display: block;
}
.gird__column-2-3 {
    width: 30%;
    display: block;
}
.gird__column-2-8 {
    width: 70%;
    display: block;
}
/* hiệu ứng */
.header__input-ouline {
    border: solid #cfcfcf;
}

/* button */
.button__garena {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.click-prev {
    position: absolute;
    z-index: 10;
    border: none;
    height: 58px;
    width: 58px;
    border-radius: 50%;
}
.click-next {
    position: absolute;
    z-index: 10;
    border: none;
    height: 58px;
    width: 58px;
    border-radius: 50%;
}

.click-next:hover {
    outline: none;
    box-shadow: 0 0 5px 0 rgb(246 94 57 / 50%);
    color: var(--color-hover);
}

.click-prev:not(.slick--disabled):hover {
    outline: none;
    box-shadow: 0 0 5px 0 rgb(246 94 57 / 50%);
    color: var(--color-hover);
}
.slick--disabled {
    opacity: 0.6;
    box-shadow: 0px 1px 8px 1px rgb(0 0 0 / 14%);
    cursor: pointer;
}

/* phần kéo xuống của form */
@keyframes formFadeIn {
    from {
        transform: translateY(-160px);
    }
    to {
        transform: translateY(0);
    }
}

/* hiển thị otion */

.show__option {
    display: block;
}