.slick-next {
    /* margin-right: 84px;
    bottom: 0;
    right: 0;
    display: inline-block;
    position: absolute;
    display: none; */
    display: none;
}

.slick-prev {
    /* display: inline-block;
    right: 0;
    position: absolute;
    bottom: 0;
    z-index: 2;
    margin-right: 15px;
    display: none; */
    display: none;
}
.slick-dots {
    position: absolute;
    display: flex;
    right: 0;

    list-style-type: none;
    bottom: 4px;
    margin-right: 60px;
}
.slick-dots button {
    font-size: 0;
    width: 10px;
    height: 12px;
    border: none;
    outline: none;
    border-radius: 100rem;
    background-color: #ffeaea;
    margin-right: 5px;
}

.slick-dots .slick-active button{
    background-color: #d9d9d9;
}


.content__recommend .slick-prev {
    position: absolute;
    z-index: 10;
    border: none;
    height: 58px;
    width: 58px;
    left: 0;
    border-radius: 50%;
    margin-left: -20px;
    margin-top: -80px;
}
.content__recommend .slick-next {
    position: absolute;
    z-index: 10;
    border: none;
    height: 58px;
    width: 58px;
    border-radius: 50%;
    right: 0;
    margin-right: -20px;
    margin-top: -80px;
}